<a href="https://colab.research.google.com/github/s4bih/machine-learning/blob/main/gaji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data

In [1]:
import pandas as pd
file_id = '1rm-AAkYYVHcpUu4yLP-D1d2D7FETgD-P'
url = 'https://drive.google.com/uc?id={}'.format(file_id)

In [2]:
data = pd.read_csv(url)

In [3]:
data

   experience  test_score  interview_score  Salary
0         NaN         8.0              8.0   50000
1         NaN         5.0              4.0   22000
2       three         6.0              5.0   30000
3        five         9.0              9.0   55000
4         six         3.0              5.0   13000
5         NaN         2.0              1.0    9000
6         ten         8.0              6.0   48000
7         one         1.0              2.0     500
8     fifteen         9.0              9.0   60000
9    thirteen         7.5              7.5   45000
10        ten         NaN              5.0   25000
11        NaN         1.0              1.0     500
12        one         3.0              6.0   25000
13       four         5.0              4.0   36000
14        six         5.0              NaN    8000
15     eleven         9.0              8.0   55000
16     twelve         9.0              9.0   58000
17        NaN         2.0              6.0   12000
18      three         5.0              5.0   20000
19       five         6.0              7.0   35000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       15 non-null     object
 1   test_score       19 non-null     float64
 2   interview_score  19 non-null     float64
 3   Salary           20 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 772.0+ bytes

In [5]:
data.describe()

       test_score  interview_score        Salary
count   19.000000        19.000000     20.000000
mean     5.447368         5.657895  30350.000000
std      2.832817         2.516902  19780.439567
min      1.000000         1.000000    500.000000
25%      3.000000         4.500000  12750.000000
50%      5.000000         6.000000  27500.000000
75%      8.000000         7.750000  48500.000000
max      9.000000         9.000000  60000.000000

In [6]:
data.isnull().sum()

experience         5
test_score         1
interview_score    1
Salary             0
dtype: int64

In [11]:
data['experience'].value_counts()

experience
three       2
five        2
six         2
ten         2
one         2
fifteen     1
thirteen    1
four        1
eleven      1
twelve      1
Name: count, dtype: int64

In [12]:
ordinal_values = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9, 'ten':10, 'eleven':11, 'twelve':12,'thirteen':13,'fifteen':15}
data['experience'] = data['experience'].map(ordinal_values)

In [15]:
data['experience']

0      NaN
1      NaN
2      3.0
3      5.0
4      6.0
5      NaN
6     10.0
7      1.0
8     15.0
9     13.0
10    10.0
11     NaN
12     1.0
13     4.0
14     6.0
15    11.0
16    12.0
17     NaN
18     3.0
19     5.0
Name: experience, dtype: float64

In [16]:
mean_experience = data['experience'].mean()
data['experience'] = data['experience'].fillna(mean_experience)

In [17]:
data['experience']

0      7.0
1      7.0
2      3.0
3      5.0
4      6.0
5      7.0
6     10.0
7      1.0
8     15.0
9     13.0
10    10.0
11     7.0
12     1.0
13     4.0
14     6.0
15    11.0
16    12.0
17     7.0
18     3.0
19     5.0
Name: experience, dtype: float64